* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: black;
    background-color: white;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    justify-content: center;
}

body.dark-theme{
    color: white;
    background-color: black;
}

.container{
    background-color: #A4A4A4;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

.title{
    text-align: center;
}

.title span{
    color: purple;
}

.status-action{
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around;
}


.game-grid{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}

.game-grid.dark-theme{
    background-color: white;
}

.X,
.O {
    cursor: default;
}

.X::after {
    content: 'X';
    font-size: 200px;
    animation: fadeIn ease 1s;
}

.O::after {
    content: 'O';
    font-size: 225px;
    animation: fadeIn ease 1s;
}

.won::after {
    color: #BD022F;
}

@media only screen and (max-width: 1024px) {
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }
}

.game-cell{
    background-color: #A4A4A4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 200px;
    width: 200px;
}

.X::after{
    content: 'X';
    animation: fadeIn ease 1s;
    font-size: 200px;
}

.O::after{
    content: 'O';
    animation: fadeIn ease 1s;
    font-size: 200px;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media only screen and (max-width: 540px) {
    .container {
        margin: 25px;
        padding: 25px;
    }

    .game-cell {
        height: 100px;
        width: 100px;
    }

    .X::after {
        font-size: 100px;
    }

    .O::after {
        font-size: 125px;
    }
}

.container_flex{
    display: flex;
}

.settings{
    text-align: center;
    flex: 1;
    margin-top: 50px;
}

.game{
    flex: 3;
}

.score{
    flex: 1;
    margin-top: 50px;
}

.xScore span{
    color: blue;
}
.oScore span{
    color: red;
}

.btn-dark{
  background-color: #A4A4A4;
  border: none;
  padding: 25px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.reset{
    background-color: #A4A4A4;
    border: none;
    padding: 25px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .highscore{
    display: flex;
    flex-wrap: wrap;
  }

  .first-place{
    flex: 2;
    order: 2;
    font-size: 50px;
  }

  .first-place img{
      flex: 1;
      order: 1;
  }

  .second-place{
    flex: 1;
    order: 4;
    font-size: 50px;
  }

  .second-place img{
      flex: 1;
      order: 3;
  }


